/* fonts */
body {
    font-family: 'Fira Sans', sans-serif;
}
/* login */
.navbar a{
    text-decoration: none;
    color: white;
    float:right;
    margin-top:5px;
    margin-right: 15px;
}
.navbar a:hover{
    color: lightgray;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
}

/* slider */
.slider{
    margin-top: -45px;
    background: url("../images/slide-image.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
}
#arrow{
    height: 45px;
}

/* blocken */
.container{
    padding-top: 30px;

}
.block{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    padding: 0;
}
.block .image{
    margin: 0;
    height: 150px;
    text-align: center;
    padding-top: 20px;
    background: url("../images/block-image.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
}
.block:hover{
    box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.2), 0 8px 26px 0 rgba(0, 0, 0, 0.2);
}
.block .text{
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    color:rgb(59,15,74);
}
.block .text:hover{
    color:rgb(229,65,96);
}
.a-block:link{
    text-decoration: none;
    color: black;
}
